$button-bg-color: $brand-primary !default;
$button-hover-bg-color: $USFSA-blue-light !default;
$button-text-color: white !default;
$button-border-radius: $border-radius-base !default;
$button-font-size: 1.6rem !default;
$button-padding-v: 0.9rem !default;
$button-padding-h: 2rem !default;
$button-border-width: 1px;

$button-cursor-disabled: default !default;
@if (global_variable_exists('cursor-disabled')) {
  $button-cursor-disabled: $cursor-disabled;
}

@mixin button-reset {
  cursor: pointer;
  border: none;
  appearance: none;
  touch-action: manipulation;
  user-select: none;
  text-decoration: none;
}

@mixin button-base {
  @include button-reset;
  background-color: $button-bg-color;
  font-size: $button-font-size;
  padding: $button-padding-v $button-padding-h #{$button-padding-v - .4};
  border-radius: $button-border-radius;
  color: $button-text-color;
  line-height: $line-height-base;
  text-transform: uppercase;
  display: inline-block;
  text-align: center;
  border-style: solid;
  border-width: $button-border-width;
  border-color: transparent;
  white-space: nowrap;
}

.button {
  @include button-base;
  background-image: none;
  border-color: $button-bg-color;
  @extend .button-hover;
  &,
  &:active,
  &.active {
    &:focus,
    &.focus {
      @include tab-focus;
    }
  }
  &:hover,
  &:focus,
  &.focus {
    text-decoration: none;
    &:not(:disabled) {
      color: $button-text-color;
      background-color: $button-hover-bg-color;
      border-color: $button-hover-bg-color;
    }
  }
  &:active,
  &.active {
    outline: 0;
    background-image: none;
    //@include box-shadow(inset 0 3px 5px rgba(0,0,0,.125));
  }

  &.disabled,
  &[disabled],
  fieldset[disabled] & {
    cursor: $button-cursor-disabled;
    @include opacity(.65);
    //@include box-shadow(none);
  }
  &--block {
    display: block;
    width: 100%;
  }
}

a.button {
  &.disabled,
  fieldset[disabled] & {
    pointer-events: none; // Future-proof disabling of clicks on `<a>` elements
  }
}

.button + .button {
  margin-top: 2rem;
}