$increment-input-element-height: $input-height !default;
$increment-input-element-gutter: 6px !default;
$increment-input-pad-v: $input-pad-v !default;
$increment-input-pad-h: $input-pad-h !default;
$increment-input-value-color: #333 !default;
.increment-input {
  @include grid-row($increment-input-element-gutter, $flex: true);
  &__block {
    @include grid-column(percentage(1/3), $increment-input-element-gutter, $flex: true);
  }
  input, button {
    display: block;
    width: 100%;
  }
  button {
    padding: 0;
    height: $increment-input-element-height;
    cursor: pointer;
    line-height: $increment-input-element-height;
    color: white;
    &:disabled {
      @include opacity(.65);
    }
  }
  input {
    height: $increment-input-element-height;
    text-align: center;
    padding: $increment-input-pad-v $increment-input-pad-h;
    line-height: $increment-input-element-height;
  }
  &__value {
    text-align: center;
    display: block;
    line-height: $increment-input-element-height;
    color: $increment-input-value-color;
  }
}