.entity-check-in-compliance {
  /**
   * Header element showing overall compliance
   */
  &__header {
    font-size: 1.8rem;
    line-height: (22/18);
    margin: 0;
    i {
      background-size: contain;
      height: 24px;
      margin-right: 5px;
      width: 24px;
    }
  }
  /**
   * Block containing individual compliance items
   */
  &__summary {
    margin: 0.9rem 0 0;
    max-width: 317px;
    padding: 0 0 0 3.8rem;
  }
}