.entity-check-in-comments {
  padding-bottom: 6rem;
  &__form {
    textarea.form-field {
      height: 105px;
    }
  }
  /**
   * Accordion unique to comments page
   */
  &__accordion {
    .accordion__trigger {
      padding: 1.1rem 3rem 0.8rem 1.3rem;
    }
    .accordion__content {
      padding: 1.5rem 1.3rem 4.5rem;
    }
    &__trigger {
      &__author,
      &__datetime {
        display: block;
      }
      &__datetime {
        font-size: 1.2rem;
        margin-top: 0.3rem;
      }
    }
    &__comment {
      @extend .text--muted;
      margin: 0;
      line-height: (20/14);
    }
  }
}