/**
 * Roster page styles shared across Roster, Team Coaches and Team Service Personnel
 */
.check-in-roster-page {
  /**
   * Block containing confirmation notice
   */
  &__confirmation {
    position: relative;
    .session-feedback {
      left: 0;
      top: -18px;
      position: absolute;
      transform: translateY(-100%);
      width: 100%;
      &__content {
        background-color: white;
      }
    }
  }
  /**
   * Primary content block in page
   */
  &__content {
    $footer-size: 7.8rem;
    padding-bottom: $footer-size;
  }
  /**
   * Display confirmation without fading in
   */
  .fade-enter-active {
    transition-duration: 0s;
  }
}