/**
 * Component for listing, and potentially overriding, compliance items and their statuses for an entity
 */
.entity-compliance-requirements-summary {
  $c: &;
  /**
   * The list element for the items
   */
  &__list {
    list-style: none;
    margin: 0;
    padding: 0;
    /**
     * List item
     */
    &__item {
      padding: 0.9rem 0;
    }
  }
  /**
   * Summary compliance item
   */
  &__item {
    align-items: center;
    display: flex;
    justify-content: flex-start;
    position: relative;
    &:before {
      @include pseudo;
      background-position: left center;
      background-size: contain;
      height: 100%;
      left: 0;
      position: absolute;
      top: 0;
    }
    &--complete:before {
      @extend .icon-status-check;
      width: 17px;
    }
    &--incomplete:before {
      @extend .icon-status-x;
      width: 13px;
      left: 1px;
      top: -1px;
    }
    /**
     * The item name
     */
    &__name {
      color: $light-gray-text;
      padding-left: 2rem;
      flex-basis: auto;
      flex-grow: 1;
      flex-shrink: 1;
    }
    /**
     * Container for element controls
     */
    &__control {
      flex-shrink: 0;
      flex-grow: 0;
      .usfsa-checkbox {
        display: block;
        &__text {
          @include not-ie {
            vertical-align: middle;
          }
        }
      }
    }
  }
  .input-error {
    font-size: 1.2rem;
    margin: 0;
    text-align: right;
  }
  /**
   * Small variant
   */
  &--small {
    #{$c} {
      &__list {
        &__item {
          padding: 0.6rem 0 0.5rem;
        }
      }
      &__item {
        &__name {
          font-size: 1.2rem;
          line-height: (14/12);
        }
      }
    }
  }
  /**
   * Tiny variant
   */
  &--small-icons {
    #{$c} {
      &__item {
        &__name {
          padding-left: 1.7rem;
        }
        &--complete:before {
          width: 11px;
        }
        &--incomplete:before {
          width: 8px;
          top: 0;
        }
      }
    }
  }
  /**
   * Standard text variant
   */
  &--standard-text {
    #{$c} {
      &__item {
        &__name {
          color: $text-color;
        }
      }
    }
  }
  &--with-columns {
    #{$c} {
      &__list {
        @media screen and (min-width: 375px) {
          display: flex;
          flex-wrap: wrap;
          margin: 0 -5px;
          @include ie-only {
            margin: 0;
          }
        }
        &__item {
          @media screen and (min-width: 375px) {
            flex-basis: 56%;
            flex-grow: 0;
            flex-shrink: 0;
            padding-left: 5px;
            padding-right: 5px;
            @include ie-only {
              padding-left: 0;
              padding-right: 0;
            }
          }
          &:nth-child(2n) {
            @media screen and (min-width: 375px) {
              flex-basis: 44%;
            }
          }
        }
      }
    }
  }
}