$ppc-element-floatpoint: 300px;
$ppc-element-summary-height: 55px;
$ppc-element-number-column-width: 36px;
$ppc-element-code-padding-h: 2rem;
$ppc-element-code-padding-v: 1.5rem;
$ppc-element-action-column-width: 119px;
$ppc-element-action-column-width--reorder: 109px;
$ppc-element-form-cta-gutter: 15px;