$button-lg-padding-v: 1.4rem !default;
$button-md-padding-v: 0.5rem !default;
$button-sm-padding-v: 0.7rem !default;
$button-sm-font-size: 1.4rem;
$button-action-hover-color: #e1352c;

.button {
  &--large {
    padding: $button-lg-padding-v $button-padding-h #{$button-lg-padding-v - .3};
  }
  &--medium {
    padding: $button-md-padding-v $button-padding-h #{$button-md-padding-v - .3};
    &.button--medium-text {
      padding: #{$button-md-padding-v + 0.1} $button-padding-h #{$button-md-padding-v - 0.1};
    }
  }
  &--small {
    padding: $button-sm-padding-v $button-padding-h #{$button-sm-padding-v - 0.4rem};
    font-size: $button-sm-font-size;
  }
  &--medium-text {
    font-size: 1.4rem;
  }
  &:disabled,
  &.disabled {
    &:not(.button--info):not(.button--muted):not(.button--action):not(.button--action-ghosted):not(.button--link) {
      &, &:hover, &:active, &:focus {
        background-color: $gray-dark;
        border-color: $gray-dark;
        opacity: 1;
      }
    }
  }
  &--info {
    background-color: white;
    border-color: $USFSA-blue;
    color: $USFSA-blue;
    &:hover,
    &:focus,
    &.focus {
      &:not(:disabled) {
        //color: darken($USFSA-blue,20%);
        background-color: darken($USFSA-blue, 5%);
        border-color: darken($USFSA-blue, 5%);
      }
    }
  }
  &--muted {
    background-color: white;
    border-color: #c2c2c2;
    color: $USFSA-blue;
    &:hover,
    &:focus,
    &.focus {
      &:not(:disabled) {
        //color: darken($USFSA-blue,20%);
        background-color: darken($USFSA-blue, 5%);
        border-color: darken(#c2c2c2, 5%);
      }
    }
  }
  &--action {
    background-color: $alert-red;
    border-color: $alert-red;
    color: white;
    &:hover,
    &:focus,
    &.focus {
      &:not(:disabled) {
        background-color: $button-action-hover-color;
        border-color: $button-action-hover-color;
        color: white;
      }
    }
  }
  &--action-ghosted {
    background-color: white;
    border-color: $alert-red;
    color: $alert-red;
    &:hover,
    &:focus,
    &.focus {
      &:not(:disabled) {
        color: $button-action-hover-color;
        border-color: $button-action-hover-color;
        background-color: white;
      }
    }
  }
}

.increment-input {
  .button:disabled {
    background-color: #f3f3f3;
    border-color: #f3f3f3;
    opacity: 1;
  }
  .button {
    &,
    &:hover,
    &:focus,
    &.focus {
      color: transparent;
    }
  }
  &__add.button {
    &, &:active, &:focus {
      @extend .icon-plus;
    }
    background-position: center center;
    background-size: 15px 15px;
  }
  &__remove.button {
    &, &:active, &:focus {
      @extend .icon-minus;
    }
    background-position: center center;
    background-size: 15px 3px;
  }
}

.popup {
  &__header {
    padding: 0 1.2rem 0 1rem;
  }
  &__heading {
    @extend .icon-alert-white;
    background-size: 23px 20px;
    background-position: left top;
    padding-left: 3rem;
    line-height: 1;
    padding-top: 4px;
    margin: 1.2rem 0 0;
  }
  &__close {
    @extend .icon-close-white;
    background-size: 14px 14px;
    background-position: center center;
    background-color: transparent;
  }
  &__content {
    p {
      margin: 0;
      + p {
        margin-top: 1.5rem;
      }
    }
  }
}

.add-button {
  @include button-reset;
  display: inline-block;
  background-color: transparent;
  text-decoration: underline;
  @extend .icon-add;
  height: 21px;
  background-size: 21px 21px;
  background-position: left center;
  padding: 0 0 0 3rem;
  &, &:hover, &:active, &:focus {
    color: $USFSA-blue-light;
  }
  &[disabled] {
    cursor: $cursor-disabled;
    opacity: .45;
  }
}

$icon-button-padding: 1rem;
.icon-button {
  @include button-base;
  border: none;
  box-sizing: content-box;
  width: 16px;
  height: 16px;
  padding: $icon-button-padding $icon-button-padding;
  background-position: center center;
  background-size: 16px 16px;
  background-color: transparent;
  &:not(.icon-button--labeled):not(.icon-button--labeled-inline) {
    @include hide-text;
  }
  &--lg {
    width: 21px;
    height: 21px;
  }
  &--md {
    width: 15px;
    height: 15px;
  }
  &--md-text {
    font-size: 1.4rem;
  }
  &--info {
    @extend .icon-info;
    &.icon-button--lg {
      background-size: 20px 20px;
    }
    &--muted {
      @extend .icon-info-muted;
    }
    &--red{
      @extend .icon-info--red;
    }
  }
  &--pseudo {
    display: inline-block;
    padding: 0;
    &, &:not(.icon-button--labeled):not(.icon-button--labeled-inline) {
      @include pseudo-touch;
    }
  }
  &--edit {
    background-size: 12px 12px;
    @extend .icon-edit;
    &.icon-button--lg {
      background-size: 19px 19px;
    }
    &.icon-button--md {
      background-size: 15px 15px;
    }
    &.icon-button--sm {
      background-size: 12px 12px;
    }
  }
  &--delete {
    background-size: 13px 16px;
    @extend .icon-delete;
    &.icon-button--sm {
      background-size: 10px 14px;
    }
    &.icon-button--md {
      background-size: 14px 20px;
      width: 14px;
      height: 20px;
    }
    &--disabled{
      @extend .icon-delete--disabled;
    }
  }
  &--up {
    @extend .icon-chevron-up;
    &.icon-button--sm {
      background-size: 12px 13px;
    }
  }
  &--down {
    @extend .icon-chevron-down;
    &.icon-button--sm {
      background-size: 12px 13px;
    }
  }
  &--more {
    background-size: 4px 16px;
    @extend .icon-more;
  }
  &--close {
    @extend .icon-x--blue;
    background-size: 13px 13px;
  }
  &--add {
    background-size: 17px 17px;
    @extend .icon-add;
    &.icon-button--lg {
      background-size: 21px 21px;
    }
  }
  &--plus {
    @extend .icon-plus--blue;
    background-size: 10px 10px;
  }
  &--minus {
    @extend .icon-minus--blue;
    background-size: 10px 1.45px;
  }

  &--labeled {
    background-position: center top;
    color: $USFSA-blue-light;
    padding-top: 2.7rem;
    line-height: 1;
    padding-bottom: 0;
    text-align: center;
    text-transform: none;
    width: auto;
    height: auto;
    font-size: 1.4rem;
    &.icon-button--delete {
      background-size: 18px 22px;
    }
    &.icon-button--edit {
      background-size: 20px 20px;
    }
    &.icon-button--add {
      background-size: 20px 20px;
    }
  }
  &--labeled-inline {
    background-position: left 45%;
    color: $USFSA-blue-light;
    line-height: 1;
    width: auto;
    height: auto;
    padding-left: #{(14/16)}em;
    &.icon-button--delete {
      background-size: #{(11/16)}em #{(13/16)}em;
    }
  }
  &:disabled {
    opacity: .45;
    cursor: $button-cursor-disabled;
  }
}

.button--link {
  &,
  &:hover,
  &:focus,
  &.focus {
    &:not(:disabled), &:disabled {
      background-color: transparent;
      border-color: transparent;
      color: $USFSA-blue-light;
      text-decoration: underline;
    }
  }
  line-height: $line-height-base;
  font-size: $font-size-base;
  text-transform: none;
  padding: $button-padding-v $button-padding-h;
}

.button--link.button--restore {
  &, &:hover, &:active, &:focus {
    @extend .icon-restore;
    background-size: 21px 18px;
    padding: 0 0 0 3rem;
    background-position: left center;
    border: none;
  }
}

.play-button {

  @include button-reset;
  padding: 0;
  border: 0;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #f3f3f3;
  display: inline-block;
  @include hide-text;
  position: relative;
  &:after {
    @include pseudo;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    @extend .icon-triangle-right-blue;
    background-position: center center;
    background-size: 11px 14px;
  }
  &--is-playing {
    &:after {
      background-size: 13px 15px;
      @extend .icon-pause-blue;
    }
  }
  &--is-loading:not(:active) {
    &:after {
      display: none;
    }
    &:before {
      @include pseudo;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      @extend .icon-loading;
      background-position: center center;
    }
  }
}

.field-header {
  @include clearfix;
  .field-label {
    display: block;
    float: left;
  }
  &__notice {
    float: right;
    text-align: right;
    margin-right: 1.3rem;
    color: #969696;
    &--flush {
      margin-right: 0;
    }
  }
  &--external{
    position: absolute;
    top: 0;
    right: 0;
    .field-header__notice {
      margin-right: 0;
    }
  }
}

.field-label {
  &__required-notice {
    color: $alert-red;
  }
}

.tabs--reduced {
  .tabs {
    &__trigger {
      font-size: 1.8rem;
      padding: 1rem $tab-trigger-padding-h;
    }
  }
}

.tabs--reduced-more {
  .tabs {
    &__trigger {
      font-size: 1.6rem;
      padding-top: 0.2rem;
      padding-bottom: 0.2rem;
    }
  }
}