.series-summary {
  $icon-width: 58px;

  align-items: center;
  display: flex;

  &__icon {
    flex-basis: $icon-width;
    flex-grow: 0;
    flex-shrink: 0;
    margin-right: 1.5rem;
    width: $icon-width;

    img {
      display: block;
      width: 100%;
    }
  }

  &__details {
    line-height: 1.2;
  }

  &__primary {
    font-size: 1.4rem;
    margin: 0;
  }

  &__secondary {
    font-size: 1.2rem;
    margin: 0.5rem 0 0;
    @extend .text--muted;
  }
}