.team-registration-team-verification {
  &__team-name {
    align-items: center;
    display: flex;
    justify-content: space-between;

    &__edit-trigger {
      left: 3px;
      position: relative;
      top: 1px;
    }
  }

  /**
   * Form block for editing team name
   */
  .edit-team-name-form {
    margin: -0.6rem -0.7rem 1.3rem;

    &__actions {
      margin-top: 1rem;
      @include grid-row(6px);

      &__column {
        @include grid-column(50%, 6px);
      }
    }
  }

  /**
   * Override card element within page/component
   */
  .card {
    &__content {
      padding: 1.5rem 1.5rem 1.7rem;
    }

    &__heading {
      color: $USFSA-blue;
      font-size: 1.8rem;
      margin: 0;
    }

    &__list {
      margin-top: 0;
      padding-left: 0;

      > li {
        padding: 0.2rem 0 0.3rem;

        &:first-child {
          padding-top: 0;
        }
      }
    }
  }

  .confirmation-overlay__dialog__message {
    margin-left: auto;
    margin-right: auto;
    max-width: 220px;
  }
}