.volunteer-page-key {
  padding: 1rem 1rem 2rem 0.5rem;

  &__list {
    @include list-reset;

    &__item {
      line-height: (20/14);
      margin: 1.2rem 0;
      padding-left: 20px;
      position: relative;

      &:first-child {
        margin-top: 0;
      }

      &:last-child {
        margin-bottom: 0;
      }

      &:before {
        @include pseudo;
        background-size: contain;
        height: 14px;
        left: 0;
        top: 0.3rem;
        width: 14px;
      }

      &--approved {
        &:before {
          @extend .icon-scheduled;
        }
      }

      &--pending {
        &:before {
          @extend .icon-pending;
        }
      }

      &--compliant {
        &:before {
          @extend .icon-status-primary-success-ada;
        }
      }

      &--noncompliant {
        &:before {
          @extend .icon-status-primary-error-ada;
        }
      }
    }
  }
}