.series-page-header {
  background: $gray-light;
  padding: 1.4rem 0 1.2rem;

  .series-summary {
    min-height: 55px;

    &__primary {
      font-size: 1.6rem;
      line-height: percentage(18/16);
      margin: 0;
    }

    &__secondary {
      color: $text-color;
    }
  }
}