.skate-test-summary {
  &__content {
    @include grid-row($gutter);
  }
  &__actions {
    @include grid-column(147px, $gutter);
    padding-top: 1.6rem;
  }
  &__description {
    @include grid-column(calc(100% - 147px), $gutter);
    font-size: 1.4rem;
  }
  &__data {
    margin: 0;
    line-height: (20/14);
    &--partner {
    }
    &--event {
      color: $light-gray-text;
    }
    &--status {
      font-size: 1.2rem;
      margin-top: 0.6rem;
      line-height: (15/12);
    }
  }
  &__status {
    display: inline-block;
    position: relative;
    &--yes {
      @extend .icon-status-check;
      background-size: 14px 11px;
      background-position: 1px 1px;
      padding-left: 1.8rem;
    }
    &--no {
      padding-left: 1.4rem;
      @extend .icon-status-x;
      background-size: 9px 9px;
      background-position: 1px 2px;
      &, &:hover, &:active, &:focus {
        color: $alert-red;
      }
    }
    .icon-button {
      padding: 0;
      vertical-align: middle;
      position: relative;
      top: -2px;
      left: 2px;
    }
  }
}