.admin-portal-primary-heading {
  font-size: $font-size-page-title;
  line-height: (31/26);
}

.admin-portal-subheading {
  font-size: 1.4rem;
  color: $text-color;
}

.admin-portal-lead {
  line-height: (18/14);
  text-align: center;
}