.rink-name {
  text-align: center;
  margin: 0;
  color: $text-color;
  font-size: 1.6rem;
  &__text {
    display: inline-block;
    padding: 12px 2px 12px;
    border-bottom: solid 2px transparent;
  }
}