.data-table {
  table-layout: auto;
  border-collapse: collapse;
  width: 100%;
  tr > td {
    vertical-align: top;
    padding: 5px;
    &.data-table__label {
      padding-right: 1.5rem;
      white-space: nowrap;
    }
    &.data-table__value {
      line-height: 1.6;
      width: 100%;
    }
  }
}