// @downstream-sync 2020-07-02 - import rhythm/theme feature
// the following file has been imported without modifications from the USFS repository master branch
.rhythms {
  padding-top: 4rem;
}

.rhythm-editor {
  background-color: white;
  border-radius: $border-radius-base;
  &__form {
    padding: 1.5rem 2rem 3rem;
    padding-top: 2.5rem;
  }
}

.rhythm-editor-form {
  &__notice {
    margin: 0;
    &--error {
      color: $alert-red;
    }
  }
  &__cta {
    padding-top: 2rem;
    @include grid-row(15px)
  }
  &__cta-element {
    @include grid-column(100%, 15px);
  }
  .form-group + .form-group {
    margin-top: 1.5rem;
  }
  .appearance & .form-group select {
    padding: 0 3.5rem 0 1.5rem;
    background-position: calc(100% - 15px) center;
  }
}
